<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="SistemaTramontina" connectionString="Data Source=35.199.83.109;Initial Catalog=SistemaTramontina;Integrated Security=true;MultipleActiveResultSets=True;TrustServerCertificate=True;" providerName="System.Data.Sql"/>
		<add name="SistemaTramontina-DEBUG" connectionString="Data Source=35.199.83.109;Initial Catalog=SistemaTramontina;User Id=sa;Password=Tr@montin@.;;MultipleActiveResultSets=True;TrustServerCertificate=True;" providerName="System.Data.Sql"/>
	</connectionStrings>
	<appSettings>
		</appSettings>
</configuration>